GCP_PROJECT_ID=market-data-platform-adam-dev
GCP_REGION=europe-west1
RAW_BUCKET_NAME=market-data-platform-adam-dev-raw-dev
BIGQUERY_LOCATION=europe-west1
PIPELINE_SERVICE_ACCOUNT_ID=mdp-pipeline-dev
SECRET_ID=market-data-api-key-dev
